

<div class="jumbotron">
  <h1>Pinterest X - pinterest on Xroids</h1>
  <p>Home and index page</p>
  <p>
    <%=link_to 'About Us', home_about_path, class:'btn btn-default btn-lg' %>
    <%=link_to 'Home', root_path, class:'btn btn-primary btn-lg' %>
    <%=link_to 'About Me', home_about_path, class:'btn btn-success btn-sm' %>
    <%=link_to 'Home', root_path, class:'btn btn-success btn-sm' %>
    <%=link_to 'About You', home_about_path, class:'btn btn-info btn-xs' %>
    <%=link_to 'Home', root_path, class:'btn btn-info btn-xs' %>
  </p>

</div>